body {
	/* font-family: 'Cormorant', serif; */
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 0);
	/* color: #151618; */
	font-size: 16px;
	font-weight: 300;
	background-color: gray;
	background: url(../images/main.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1440px;
}

ul,
li,
.nav-link {
	display: block;
	padding: 0;
	margin: 0;
}

.nav-item {
	padding: 0 30px;
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 140px;
	text-align: center;
}

.menu__item a {
	color: inherit;
	text-transform: uppercase;
}

.logo {
	margin: 0;
	display: flex;
	justify-content: center;
}

/* .container {
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
} */

.top {
	background-image: url(../images/top_main.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}

.top_inner {
	min-height: 500px;
	font-family: 'Cormorant', serif;
	color: #fff;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.top_title {
	font-size: 60px;
	margin-bottom: 20px;
	max-width: 780px;
	line-height: 1;
	font-weight: 400;
}

.top_text {
	font-size: 24px;
	margin-bottom: 48px;
	max-width: 560px;
}

.blockquote_text {
	text-align: center;
	font-family: 'Cormorant', serif;
	font-size: 40px;
	font-style: italic;
	line-height: normal;
	max-width: 704px;
	margin: 150px auto;
}

/* @media (max-width: 1000px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}

@media (max-width: 360px) {} */